.owl-title {
  font-family: Helvetica, arial, sans-serif;
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  font-size: 34px;
  cursor: text;
  position: relative;
}