@import url(http://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700,700italic&subset=latin);

#markdoc-title {
  margin: 20px 0 10px;
  padding: 0;
  position: relative;
  font-size: 0.8em;
}

.markdoc-title {
  font: 2em "Vollkorn", Palatino, Times;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative;
}

.markdoc-filter {
  font: 0.8em "Vollkorn", Palatino, Times;
  border: 1px #999999 dotted;
  width: 300px;
}

.markdoc-markdown-path {
    color: #999999;
    padding-top: 1em;
}

#markdoc-footer {
    color: #cccccc;
    font-size: 0.8em;
    padding-top: 1em;
}