<html>
<head>
  <title>{{ title }} - Owl</title>
  <link rel="stylesheet" type="text/css" href="{{ destination_root_dir }}/_owl_static/css/owl.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="{{ destination_root_dir }}/_owl_static/css/markdown.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="{{ destination_root_dir }}/_owl_static/css/pygments/trac.css" media="screen" />
</head>
<body>
  <a href='{{ destination_root_dir }}/index.html'>&lt; Back to index</a>
  <hr />
  {{ markdown_html }}
</body>
</html>